:root{
    --orange: #FF6B3D;
    --lite-grey: #ACACAC;
    --grey: #393939;
    --dark-grey: #272727;
    --purple: #7B4DFF;
    --blue: #0496ff;
}

.orange{color: var(--orange);}
.lite-grey{color: var(--lite-grey);}
.grey{color: var(--grey);}
.dark-grey{color: var(--dark-grey);}
.purple{color: var(--purple);}
.blue{color: var(--blue);}
