#nav{height: 50px; box-shadow: 0px 2px 3px 0px #ebebeb; padding: 0 15px; display: flex; flex-direction: row;}
#nav-logo{width: 80px; display: flex; align-items: center;}
#nav-sections{ display: flex; height: inherit;}
.nav-section{width: 140px; height: inherit; display: flex; align-items: center; transition: border .3s;}
.nav-section:hover{border-bottom: 3px solid #ff5bce;}
